:root {
    --main-color: #363636;
    --secondary-color: #B18B2E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

h1, h2 ,h3 {
    font-family: "Montserrat", system-ui;
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

p {
    font-family: "Open Sans", system-ui; 
}

.text-one h1{
    font-size: 5rem;
    text-shadow: -0.1rem -0.1rem 0.3rem black;
    color: var(--secondary-color);
    
}

.text-one p {
    font-size: 1.8rem;
}

.section {
    min-height: 100vh;
}
.main-content {
    max-width: 140rem;
    margin: 0 auto;
}
    /* ==================================== */
.spacing {
    height: 6.2rem;
}


header {
    width: 100vw;
    height: 6.2rem;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0.1rem solid var(--main-color); 
    
}

header .header-content{
    max-width: 140rem;
    height: 6.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: var(--secondary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 0.1rem solid var(--main-color);  
    padding: 0 4rem;

}

.header-content h1 {
    font-size: 3rem;
    padding-left: 3rem;
    font-family: 'Times New Roman', Times, serif;
    
}

.header-content nav ul {
    list-style: none;
    display: flex;
    

}

.header-content nav ul li a {
    color: #fff;
    margin: 1rem;
    text-decoration: none;


}

.header-content nav ul li a:hover {
    color: red;
    cursor: pointer;
}

.header-content {
    height: 8rem;
    background-color: black;
}


header img {
    width: 7rem;
}

/* ==================================== */

.bg-principal {
    max-width: 140rem;
    min-height: 100vh;
    margin: 0 auto;
    /* background-color: black; */

}

.pg-principal {
    max-width: 140rem;
    height: 100vh;
    background-image: url(/Assets/Img/bg.png);
    background-size: cover;
    background-position: center bottom ;
    margin: 0 auto;
    

}

.logo-principal img {
    width: 40rem;

}

.text-one {
    text-align: center;
    
}
 /* ==================================== */
.materiais-grid {
    max-width: 90rem;
    display: grid;
    grid-template-columns:repeat(4,1fr );
    gap: 2rem;
    margin-top: 3rem;
    
}

.materiais-content {
    max-width: 140rem;
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    margin: 0 auto;
}


.materiais-grid img {
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    border: 0.2rem solid #363636 ;
    transition: all 300ms ease-in-out ;
}

.materiais-grid img:hover {
    transform: translate(3%)  scale(1.1);
    
}


.materiais-grid .materiais-foto:nth-child(5),
.materiais-grid .materiais-foto:nth-child(6) {
    grid-column: span 2;
      
}

.materiais-texto {
    font-style: italic;
    font-size: 2rem;
}


/* ==================================== */

.footer-contato {
    max-width: 140rem;
    margin: 0 auto;

}
.content-contato {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0.3rem solid var(--main-color);
}

.text-contato {
    max-width: 140rem;
    margin: 0 auto;
    text-align: center;
    color: black;
    font-style: italic;
    border: 3rem solid var(--secondary-color);
}

.wp { 
    display: flex;
    align-items: center;
    color: #41c651;
    background-color: #fff;
    border-radius: 1rem;
    padding: 0 2rem;
}

.facebook { 
    display: flex;
    align-items: center;
    color:#4548b5;
    background-color: #fff;
    border-radius: 1rem;
    padding: 0 2rem;
}

.instagram { 
    display: flex;
    align-items: center;
    color:#e0447a;
    background-color: #fff;
    border-radius: 1rem;
    padding: 0 2rem;
}

/* ===========MEdia QUerys========================= */

@media (max-width: 650px) {
    .logo-principal img {
        width: 30rem;
    
    } 
    .text-one {
        text-align: center;
        margin-top: 9rem;
        
    }

    .materiais-content {
        min-height: 100vh;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        
    }

    .materiais-grid {
        max-width: 100%;
        min-height: 100vw;
        display: grid;
        grid-template-columns:repeat(2,1fr );
        gap: 2rem;
        margin-top: 3rem ;
        
        
    }

}

@media (max-width: 36rem){
   
    .content-contato {
        background-color: #888888;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
        border: 1rem solid var(--secondary-color);
    }
    
    .wp { 
        display: flex;
        align-items: center;
        color: #41c651;
        background-color: #fff;
        border-radius: 1rem;
        padding: 0 2rem;
        margin: 0.2rem 0;
    }
    
    .facebook { 
        display: flex;
        align-items: center;
        color:#4548b5;
        background-color: #fff;
        border-radius: 1rem;
        padding: 0 2rem;
        margin: 0.2rem 0;
    }
    
    .instagram { 
        display: flex;
        align-items: center;
        color:#e0447a;
        background-color: #fff;
        border-radius: 1rem;
        padding: 0 2rem;
        margin: 0.2rem 0;
    }

}



